.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  color: #fff;
  background: rgba(34, 78, 56, .8);
  padding: .4rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
}

em {
  color: blue;

}

.spacer {
  padding-left: 1rem;
}


.divider {
  width: 4px;
  height: 5rem;
  background: #000;
}

.hoverer {
  color: blue;
  transition: color .250s ease-in;
}

.hoverer:hover {
  color: #000;
  font-weight: bold;
  transition: all .250s ease-in;
}